
# Whisper Service
PORT_WHISPER=8001

# Snowstorm/Elasticsearch
PORT_ELASTICSEARCH=9200
PORT_SNOWSTORM=8080

REACT_APP_TENANT_API_URL=/api
REACT_APP_BASE_DOMAIN=medicore.co.zw
REACT_APP_PROTOCOL=http
CDSS_ENABLE_AI=true
MOCK_VISION_AI=true

LLM_API_URL=http://host.docker.internal:11434
LLM_MODEL_NAME=llama3.1:latest
WHISPER_API_KEY=your_openai_api_key_here
